{% extends "base.html" %}

{% block title %}Gallery{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <a href="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-kid.png" data-lightbox="ninja">
            <img class="img-responsive" src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-kid.png">
        </a>
    </div>

    <div class="col-lg-4">
        <a href="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-zone.png" data-lightbox="ninja">
            <img class="img-responsive" src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-zone.png">
        </a>
    </div>

    <div class="col-lg-4">
        <a href="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-penguin.png" data-lightbox="ninja">
            <img class="img-responsive" src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd2/ninja-penguin.png">
        </a>
    </div>
</div>
{% endblock content %}