{% extends "base.html" %}

{% block title %}Add new topic{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2 id="add-topic-heading">Add new topic</h2>

        <form method="post">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" id="add-topic-title" required>
            </div>

            <div class="form-group">
                <label>Text</label>
                <textarea name="text" class="form-control" rows="6" required></textarea>
            </div>

            <button type="submit" class="btn btn-success" id="add-topic-button">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var addTopicButton = $("#add-topic-button");

        addTopicButton.click(function() {
            addTopicButton.hide();
        });
    });
</script>
{% endblock scripts %}