{% extends "base.html" %}

{% block title %}Add new topic{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2 id="add-topic-heading">Add new topic</h2>

        <form method="post">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" id="add-topic-title" required>
            </div>

            <div class="form-group">
                <label>Text</label>
                <textarea name="text" class="form-control" rows="6" required></textarea>
            </div>

            <div class="form-group">
                <label id="add-topic-sum-label">What is the sum of 2 and 8?</label>
                <input type="text" class="form-control" id="add-topic-sum" required>
            </div>

            <button type="submit" class="btn btn-success" id="add-topic-button">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var numberOne = 1 + Math.floor(Math.random() * 9);
        var numberTwo = 1 + Math.floor(Math.random() * 9);
        var numSum = numberOne + numberTwo;

        $("#add-topic-sum-label").text("What is the sum of " + numberOne + " and " + numberTwo + "?");

        var addTopicButton = $("#add-topic-button");
        var addTopicSum = $("#add-topic-sum");

        addTopicButton.click(function(e) {
            if (addTopicSum.val() === numSum.toString()){
                addTopicButton.hide();
                console.log("yaaay");
            } else {
                alert("You entered a wrong sum! Try again.");
                e.preventDefault();
            }
        });
    });
</script>
{% endblock scripts %}