{% extends "base.html" %}

{% block title %}{{ topic.title }}{% endblock title %}

{% block content %}
<!-- TOPIC -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ topic.title }}</h3>
            </div>

            <div class="panel-body">
                <p><strong>Author: </strong>{{ topic.author_email }} ({{topic.created.strftime("%d.%m.%Y at %H:%M")}})</p>

                <p>{{ topic.content }}</p>

                {% if user  %}
                    {% if topic.author_email == user.email() or user.admin  %}
                    <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deleteTopicModal">Delete topic</a>

                    <!-- Modal - delete topic -->
                    <div class="modal fade" id="deleteTopicModal" tabindex="-1" role="dialog" aria-labelledby="deleteTopicModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="post" action="/topic/{{topic.key.id()}}/delete">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="deleteTopicLabel">Delete topic</h4>
                                    </div>

                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                                    <div class="modal-body">
                                        <p>
                                            Do you really want to delete this topic?
                                        </p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger">Delete topic</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End modal - delete topic -->
                    {% endif  %}
                {% endif  %}
            </div>
        </div>
    </div>
</div> <!-- END TOPIC -->

<hr>

<!-- COMMENTS -->
{% for comment in comments %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">{{ comment.author_email }} on {{ comment.created.strftime("%d.%m.%Y at %H:%M") }}</h3>
            </div>

            <div class="panel-body">
                <p>{{ comment.content }}</p>

                {% if user  %}
                    {% if comment.author_email == user.email() or user.admin  %}
                    <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deleteCommentModal{{comment.key.id()}}">Delete comment</a>

                    <!-- Modal - delete comment -->
                    <div class="modal fade" id="deleteCommentModal{{comment.key.id()}}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel{{comment.key.id()}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="post" action="/comment/{{comment.key.id()}}/delete">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="deleteCommentModalLabel{{comment.key.id()}}">Delete comment</h4>
                                    </div>

                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                                    <div class="modal-body">
                                        Do you really want to delete this comment?
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger">Delete comment</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End modal - delete comment -->
                    {% endif  %}
                {% endif  %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- END COMMENTS -->

<!-- ADD COMMENT -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Add new comment</h3>
            </div>

            <div class="panel-body">
                <form action="/topic/{{topic.key.id()}}/comment/add" method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                    <div class="form-group">
                        <textarea name="comment-text" class="form-control" rows="6" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-success">Submit comment</button>
                </form>
            </div>
        </div>
    </div>
</div> <!-- END ADD COMMENT -->
{% endblock content %}